
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-image: url(https://images.unsplash.com/photo-1442323794357-25b2ec110967?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

     
}
.head img{
    height: 200px;
    width: 200px;
    float: left;
    padding-left: 100px;
 
}
.hyper{
    padding: 50px;
    padding-left: 490px;
    align-items: center;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}


.first{
    width: 60%;
    align-items: center;
    padding: 50px;
    margin-left: 12%;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    align-items: center;
    align-content: center;
}

header h1 {
    margin: 0;
    font-family: cursives;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    height: 50px;
}


.lyrics {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    font-style: italic;
    color: black;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
    width: 50%;
    align-items: center;
    padding: 50px;
    margin-left: 25%;
    
}





